{% extends 'base.html.twig' %}

{% block title %}Sondage{% endblock %}

{% block body %}
    <h1>Créer un sondage</h1>
    <div class="smallContainer">
        {{ include('poll/_form.html.twig') }}
    </div>
{% endblock %}
