/* STYLE PRINCIPAL */
body {
  background-color: #485359;
  color: white;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

a {
  color: #FF752D;
}
a:hover {
  color: #FFA62F;
}

.container {
  max-width: 900px;
  padding: 30px;
  margin-right: auto;
  margin-left: auto;
}

.smallContainer {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: #FF752D;
  color: white;
  padding: 5px 10px;
  border: none;
}
button a {
  color: white;
  text-decoration: none;
}
button a:hover {
  color: white;
}
button:hover {
  background-color: #FFA62F;
}

h1 {
  font-size: 45px;
  text-align: center;
  color: #FF752D;
}

nav {
  background: #485359;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  color: white;
}

/* CONNEXION & S'ENREGISTRER */
.smallForm form {
  width: 100%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.smallForm form .alreadyLogged {
  margin: 10px 0;
  color: #FF752D;
}
.smallForm .linkSignIn, .smallForm .linkRegister {
  width: 100%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-top: 1px solid white;
}

/* FORMULAIRE CREER SONDAGE */
form ul {
  list-style-type: none;
  padding-left: 0;
}

input[type=email], input[type=password], input[type=text] {
  border: 2px solid transparent;
  border-radius: 0;
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=email]:focus, input[type=password]:focus, input[type=text]:focus {
  border: 2px solid #FF752D;
}

#poll_status {
  margin: 15px 0 20px 0;
}
#poll_status label {
  margin-right: 15px;
}
#poll_status input {
  margin-right: 4px;
}

/* INDEX SONDAGE */
.indexBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  padding: 4px 0;
}
.indexBlock .btnBlock {
  display: flex;
  align-items: center;
}
.indexBlock .btnBlock button {
  margin: 0 2px;
}

/*# sourceMappingURL=style.css.map */
