/* STYLE PRINCIPAL */
$gris :  #485359;
$jaune : #FFA62F;
$orange : #FF752D;


body {
    background-color: $gris;
    color: white;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

a {
    color: $orange;
    &:hover {
        color: $jaune;
    }
}


.container {
    max-width: 900px;
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
}

.smallContainer {
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}


button {
    background-color: $orange;
    color: white;
    padding: 5px 10px;
    border: none;
    a {
        color: white;
        text-decoration: none;
        &:hover {
            color: white;
        }
    }
    &:hover {
        background-color: $jaune;
    }
}

h1 {
    font-size: 45px;
    text-align: center;
    color: $orange;
}


nav {
    background: $gris;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    color: white;
}

// .navLink {
//     font-weight: 700;
//     font-size: 16px;
// }


/* CONNEXION & S'ENREGISTRER */

.smallForm {
    form {
        width: 100%;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        .alreadyLogged {
            margin: 10px 0;
            color: $orange;
        }
    }
    .linkSignIn, .linkRegister {
        width: 100%;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        border-top: 1px solid white;
    }
}

/* FORMULAIRE CREER SONDAGE */

form {
    ul {
        list-style-type: none;
        padding-left: 0;   
    }
}
    
input[type=email], input[type=password], input[type=text] {
    border: 2px solid transparent;
    border-radius: 0;
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    &:focus {
        border: 2px solid $orange;
    }
}

#poll_status {
    margin: 15px 0 20px 0;
    label {
        margin-right: 15px;
    }
    input {
        margin-right: 4px;
    }
}

/* INDEX SONDAGE */

.indexBlock {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    padding: 4px 0;
    .btnBlock {
        display: flex;
        align-items: center;
        button {
            margin: 0 2px;
        }
    }
}