<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="title" content="Sondage">
        <meta name="description" content="">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/style.css')}}">
            <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet"> 
        {% endblock %}
    </head>
    <body>
        {% include 'components/navbar.html.twig' %}

        <div class="container">
            {% block body %}
            {% endblock %}
        </div>

        {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{ asset('assets/collection.js')}}"></script>

        {% endblock %}
    </body>
</html>
